/* body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: arial;
    background: #f7f7f7;
    color: #373737;
} */

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.wrapper {
    width: 400%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.section_1 {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.section_2 {
    background-color: red;
    width: 100%;
    height: 100vh;
}

.section_3 {
    background-color: blue;
    width: 100%;
    height: 100vh;
}

.section_4 {
    background-color: orange;
    width: 100%;
    height: 100vh;
}

.canvas {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

.info {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
}

.info__content {
    padding: 5px;
}